.mds-top{
  height: 50px;
}

.mds-nav{
  height: 90px;
}

.mds-bg{
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.mds-mt-200{
  margin-top: 200px;
}

.mds-img-jumbo{
  width: 250px;
}

.mds-bg-black{
  background-color: #1F1F1F;
}

.mds-rounded{
  border-radius: 15px;
}