.mds-top{
  height: 50px;
}

.mds-nav{
  height: 90px;
}

.mds-bg{
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.mds-mt-200{
  margin-top: 200px;
}

.mds-img-jumbo{
  width: 250px;
}

.mds-bg-black{
  background-color: #1F1F1F;
}

.mds-rounded{
  border-radius: 15px;
}

.mds-bg-gray{
  background-color: #BEBCBB;
}

.btn-pls-plus{
  background-color: #D9DADC !important;
  color: #5882E3 !important;
  font-weight: 600;
  border-color: #D9DADC !important;
}

.mds-bg-blue{
  background-color: #161C3B;
}

.btn-pls-now{
  background-color: #f5f5f5 !important;
  color: black !important;
  font-weight: 600;
  border-color: #f5f5f5 !important;
}

.mds-list{
  text-decoration: none;
  list-style: none;
  color: white;
}


/* HOVERS */

.mds-hover-translate:hover{
  transform: translate(0, -20%);
  cursor: pointer;
}

.mds-return-opacity:hover{
  opacity: 1 !important;
}

.mds-hover-shining:hover{
  filter: brightness(150%);
}

/* TRANSITIONS */

.mds-hover-translate{
  transition: all 1s ;
}

.mds-jumbotron {
  animation-name: appear;
  animation-duration: 4s;
}

@keyframes appear{
  from {
    background-position: right;
    opacity: 0%;
  }
  to{
    background-position: center;
    opacity: 100%;
  }
}

.mds-btn-shake:hover{
  animation: shake 1s;
}

.mds-it-takes-two :hover img{
  animation: shake 4s;
  animation-iteration-count: infinite;
}

@keyframes shake{
  0%{
    transform: rotate(10deg);
  }
  10%{
    transform: rotate(-10deg);
  }
  20%{
    transform: rotate(10deg);
  }
  30%{
    transform: rotate(-10deg);
  }
  40%{
    transform: rotate(10deg);
  }
  50%{
    transform: rotate(-10deg);
  }
  60%{
    transform: rotate(10deg);
  }
  70%{
    transform: rotate(-10deg);
  }
  80%{
    transform: rotate(10deg);
  }
  90%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(10deg);
  }
}

.mds-hover-ps:hover{
  transform: scale(105%);
  box-shadow: 1px 1px 4px;
}