.mds-top{
  height: 50px;
}

.mds-nav{
  height: 90px;
}

.mds-bg{
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.mds-mt-200{
  margin-top: 200px;
}

.mds-img-jumbo{
  width: 250px;
}

.mds-bg-black{
  background-color: #1F1F1F;
}

.mds-rounded{
  border-radius: 15px;
}

.mds-bg-gray{
  background-color: #BEBCBB;
}

.btn-pls-plus{
  background-color: #D9DADC !important;
  color: #5882E3 !important;
  font-weight: 600;
  border-color: #D9DADC !important;
}

.mds-bg-blue{
  background-color: #161C3B;
}

.btn-pls-now{
  background-color: #f5f5f5 !important;
  color: black !important;
  font-weight: 600;
  border-color: #f5f5f5 !important;
}

.mds-list{
  text-decoration: none;
  list-style: none;
  color: white;
}

.mds-footer-img{
  width: 120px;
}

/* TRANSITIONS */

.mds-hover-translate{
  transition: all 1s ;
}

.mds-jumbotron {
  animation-name: appear;
  animation-duration: 4s;
}

@keyframes appear{
  from {
    background-position: right;
  }
  to{
    background-position: center;
  }
}