/* *************BACKGROUNDS************ */

.mds-jumbotron{
  background-image: url("../img/jumbo-bg.png");
}

.mds-it-takes-two{
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* ************* ///BACKGROUNDS************ */

/********** NAV****** */

svg{
  width: 100px;
}
.nav{
  margin-bottom: 0;
}

.dropdown {
  position: static;
}

.dropdown-menu { 
  width: 100%; 
  text-align: center;
}

.dropdown-menu>li {
  display: inline-block; 
}

.dropdown-menu{
  margin: -1px !important;
  width: 100vw !important;
  border: none !important;
}

.fa-chevron-up{
  color: gray;
  font-size: 10px;
  text-align: center;
  margin:0 0 2px 2px ;
}

/********** /// NAV****** */

/*********** MAIN ***********/

.mds-ps5-presentation{
  font-weight: 600;
}


/******** FOOTER **********/

footer{
  background-color: #00439C;
}